<!--Form format to take user input to create a new patient data or to modify one-->
<%= form_for(@patient=Patient.new) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group container">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class=>'form-control', :style=>'width:30%; min-width:200px' %>
    </div>
    <div class="field">
      <%= f.label :mrn %><br>
      <%= f.text_field :mrn, :class=>'form-control', :style=>'width:30%; min-width:200px' %>
    </div>
    <div class="field">
      <%= f.label :dob %><br>
      <%= f.text_field :dob, :class=>'form-control', :style=>'width:30%; min-width:200px' %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email, :class=>'form-control', :style=>'width:30%; min-width:200px' %>
    </div>
    <div class="field">
      <%= f.label :access_token %><br>
      <%= f.text_field :access_token, :class=>'form-control', :style=>'width:30%; min-width:200px', :value=>@access_token %>
    </div>
    <div class="field">
      <%= f.label :refresh_token %><br>
      <%= f.text_field :refresh_token, :class=>'form-control', :style=>'width:30%; min-width:200px', :value=>@refresh_token %>
    </div>
    <div class="actions">
      <%= f.submit "Register Patient", :class=>'btn btn-default', :style=>'width:30%; min-width:200px' %>
    </div>
  </div>
<% end %>