<!--Show all the patient data-->
<p id="notice"><%= notice %></p>

<div class="container col-md-12">
<h1>Listing Patients</h1>

  <table id="mytable" cellspacing="0">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Mrn</th>
        <th scope="col">Dob</th>
        <th scope="col">Email</th>
        <th scope="col">Access token</th>
        <th scope="col">Refresh token</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <th scope="row" class="spec"><%= patient.name %></td>
          <td><%= patient.mrn %></td>
          <td><%= patient.dob %></td>
          <td><%= patient.email %></td>
          <td><%= patient.access_token %></td>
          <td><%= patient.refresh_token %></td>
          <td><%= link_to 'Individual Data', patient %></td>
          <td><%= link_to 'Update', edit_patient_path(patient) %></td>
          <td><%= link_to 'Remove Patient', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <button class="btn btn-default">
    <%= link_to 'New Patient', 'moves/getauth' %>
  </button>
  <button class="btn btn-default">
    <%= link_to 'Log Out', logout_path %>
  </button>
</div>