<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      Stepmates
    </a>
  </div>
  <button class="btn btn-default navbar-btn navbar-right" style="margin-right: 30px">
    <%= link_to 'Log Out', logout_path %>
  </button>
</nav>

<!--Show all the patient data-->
<p id="notice"><%= notice %></p>
<div class="container col-md-12">
<h1>All Patient Data</h1>

  <% @patients.each do |patient| %>
    <div class="col-md-4" style="text-align:center;border:1px solid black;min-height:250px;padding:10px">
      <%= patient.name %>
      <% parsed_data = showData(patient) %>
      <div>
        <% parsed_data.each do |data| %>
          <% segments_array = data["segments"] %>
            <% if segments_array != nil %>
              <h5><%= data["date"] %></h5>
                <% segments_array.each do |segment| %>
                  <% segment_activities_array = segment["activities"] %>
                  <% if segment_activities_array != nil %>
                    <% segment_activities_array.each do |activity| %>
                      <% if activity["steps"] != nil &&  activity["duration"] != nil%>
                        <div>
                        <% if activity["steps"]/activity["duration"] > 1.4 %>
                          <div style="color:red"><%= activity["activity"]%></div>
                        <% else %>
                          <div class="col-md-1"><%= activity["activity"]%></div>
                        <% end %>
                          <div class="col-md-1"><%= activity["startTime"] %></div>
                          <div class="col-md-1"><%= activity["endTime"] %></div>
                          <div class="col-md-1"><%= activity["duration"].to_s %></div>
                          <div class="col-md-1"><%= activity["distance"].to_s %></div>
                          <div class="col-md-1"><%= activity["steps"].to_s %></div>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <button class="btn btn-default" style="margin-top:70px">
    <%= link_to 'Back', '/' %>
  </button>
</div>