<!--Present data for specific patient-->
<p id="notice"><%= notice %></p>
<h1>Patient Data for <%= @patient.name%></h1>

<div class="container col-md-12">
  <table style="width:700px">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">MRN</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Email</th>
    </tr>
    <tr>
      <th scope="row" class="spec"><%= @patient.name %></th>
      <td class="col-md-3"><%= @patient.mrn %></td>
      <td class="col-md-3"><%= @patient.dob %></td>
      <td class="col-md-3"><%= @patient.email %></td>
    </tr>
  </table>

  <div>
    <%= @body %>
  </div>

  <button class="btn btn-default">
    <%= link_to 'Edit', edit_patient_path(@patient) %>
  </button>
  <button class="btn btn-default">
    <%= link_to 'Back', patients_path %>
  </button>
</div>
