<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      Stepmates
    </a>
  </div>
  <button class="btn btn-default navbar-btn navbar-right" style="margin-right: 30px">
    <%= link_to 'Log Out', logout_path %>
  </button>
</nav>

<div class="container"> 
  <div class="col-md-6 col-md-offset-3" style="text-align: center">
    <h1 style="margin-top:70px"> Hello, <%= @user[:name] %>!</h1>
    <br/>
    <%= link_to "See Patients", patients_path, :class=>"btn btn-info", :style=>"width:100%; margin-top:10px" %>
    <%= link_to "See All Patient Data", '/showall', :class=>"btn btn-info", :style=>"width:100%; margin-top:10px" %>
    <%= link_to "Add Patient", 'https://api.moves-app.com/oauth/v1/authorize?response_type=code&client_id=rk4jNeuJ054WTTlYV9l4QF9dYsGdFwdl&scope=activity', :class=>"btn btn-default", :style=>"width:100%; margin-top:10px" %>
  </div>
</div>